.liquidContainer {
  padding: 20px;
  margin: 20px;
  // background: #fff;
  background: #01080f;
  .group {
    .liquidCon {
      .graph {
        width: 400px;
        height: 400px;
        svg {
          .textGroup {
            .textValue {
              font-family: FFDINPro-Medium;
              font-size: 38px;
              color: #b8ffa5;
            }
            .textRatio {
              font-family: FFDINPro-Medium;
              font-size: 25px;
              color: #91ff71;
            }
            .textRatioUnit {
              font-family: FFDINPro-Medium;
              font-size: 16px;
              color: #91ff71;
            }
          }
        }
      }
    }
  }
}
